<div class="search">
    <form method="post" action="~/Home/search">
        <input type="text" name ="critere" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
        <input type="submit" value="">
    </form>
</div>
